
@charset "utf-8";
.regis{
    border-top: 4px solid #c7181d;
    background: #f7f7f7;
    padding: 20px 0;
    font-family: Microsoft YaHei;
    .wrapper{
        width: 920px;
        background: #fff;
        padding: 30px 15px 0 15px;
         height: 500px;
    }
    .item{
        margin-top: 25px;
        height: 40px;
        position: relative;
    }
    .reg-btn{
        margin-top: 0px;
    }

}
.reg-title{
    border-bottom: 1px solid #f0f0f0;
    @include bgimgurl("https://i0.ulecdn.com/i/login/2016/0808/title_tip.jpg",no-repeat,center,right);
    &>div{
        width: 138px;
        height: 46px;
        line-height: 46px;
        font-size: 16px;
        color: #333;
        border: 1px solid #f0f0f0;
        border-bottom: 0px;
        margin-left: 30px;
        text-align: center;
        cursor: pointer;
    }
}
.reg-main{
    padding-left: 220px;
   form>div{
        line-height: 40px;
        font-size: 14px;
        color: #999;
        lable{
            display: block;
            width: 70px;
            height: 40px;
            float: left;
        }
        input[type="text"],input[type="password"]{
            width: 298px;
            height: 38px;
            line-height: 38px;
            padding: 0 10px;
            border: 1px solid #cacaca;
            color: #333;
            font-size: 14px;
            float: left;
       }
    }
    
}
.regis .reg-main .yzm input{width: 140px;}

.yzm{
    label,.code-input,.imgbtn,span{
        float: left;
    }
    .code-input>input{
        width: 140px;
        @include ellipsis();
    }
    .imgbtn{
        margin-left: 18px;
        img{
             width: 120px;
            height: 40px;
            margin-right: 0;
            cursor: pointer;
        }
    }
}
.agree{
    position: relative;
    margin:20px 0px 10px;
//  i{
//      display: inline-block;
//      height: 14px;
//      width: 14px;
//      cursor: pointer;
//      @include bgimgurl("https://i0.ulecdn.com/i/login/2016/0808/icon.jpg",no-repeat,-115px,-339px);
//      vertical-align: top;
//      margin-right: 5px;
//  }
    span{
        position:absolute;
        top: -2px;
       color: #AEAEAE;
       a{
           color: #03c;
       } 
    }
    p{
        position: absolute;
        top:3px;
        left: 400px;
        line-height: 28px;
        background: url("https://i0.ulecdn.com/i/login/2016/0808/policybg.gif");
        width: 299px;
        color: #A51C14;
        padding-left: 10px;
        font-size: 12px;
    }
    
}

.reg-btn{
    a{
        display: inline-block;
        @include bgimgurl("https://i0.ulecdn.com/i/login/2016/0808/icon.jpg",no-repeat,0,-196px);
        height: 40px;
        width: 350px;
    }
}

.item span{
    float: left;
    line-height:40px;
    padding-left: 20px;
    width: 275px;
    margin-left: 10px;
    height: 40px;
    font-size: 14px;
}
.item span.error{
   color: #C52E15;
   background: url("https://i0.ulecdn.com/i/login/2016/0808/icon.jpg") no-repeat 1000px 0px; 
   background-position: -2px -64px;
}
.item span.conmit{
    background: url("https://i0.ulecdn.com/i/login/2016/0808/icon.jpg") no-repeat 1000px 0px; 
    background-position: -2px 7px;
    color: #333; 
}
.item span.bingo{
    background: url("https://i0.ulecdn.com/i/login/2016/0808/icon.jpg") no-repeat 1000px 0px; 
    background-position: -2px -29px;
}
