@charset "utf-8";
//头部左侧
header{
  @include clearfix();
  padding: 12px 0;
  font-size: 12px;
}
.head-logo{
    overflow: hidden;
    float: left;
    @include  bgimgurl("../img/logo.png",no-repeat,left,bottom);
    a{
        text-indent:-9999px;
        display: block;
        overflow: hidden;
        width: 75px;
        height: 75px;
    }
}
//右边购物车
.head-shopcar{
    position: relative;
    float: right;
    position: relative;
    margin-top: 10px;
    width: 158px;
    height: 34px;
    border: 1px solid #bdbdbd;
    background-color: #fff;
    @include  bgimgurl("http://i0.ulecdn.com/ule/header/images/header_1407.png",no-repeat,0,-86px);
    &>span{
        padding-left: 31px;
        line-height: 33px;
        cursor: pointer;
        &>i{
            right: 20px;
            top: 0;
            color: #900;
            text-align: center;
            font-size: 16px;
            font-family: Arial,Helvetica,sans-serif;
            position: absolute;
            width: 58px;
            height: 30px;
            overflow: hidden;
        }
    }
}

//中间搜索框
.head-serch{
    float:right;
    margin-right: 216px;
    margin-top: 10px;
    position: relative;
    form{
        @include clearfix();
    }
    input{
        float: left;
        width: 447px;
        border: solid 3px #c7181d;
        border-right: 0;
        padding: 0 5px;
        height: 30px;
        line-height: 30px;
        background: #fff;
        font-size: 14px;
        box-sizing: content-box;
    }
    button{
        float: left;
        width: 73px;
        height: 36px;
        @include  bgimgurl("http://i0.ulecdn.com/ule/header/images/header_1407.png",no-repeat,-370px,-46px);
        text-indent: -9999px;
        overflow: hidden;
        border: 0;
        cursor: pointer;
    }
    &>p{
        line-height: 18px;
        margin-top: 5px;
        height: 18px;
        overflow: hidden;
        padding: 0;
        a{
            margin-right: 3px;
            white-space: nowrap;
        }
    }
    a:hover{
        text-decoration: underline;
    }
}

@each $i in 1,2{
  .head-serch>p>a:nth-of-type(#{$i}){
      color: #c51010;;
  }  
}

.head-cart{
    float: right;
    margin-top: 20px;
    display: none;
    p{
        @include bgimgurl("http://i0.ulecdn.com/ule/header/images/cart_tit_new.png?v201402101030") ;
        width: 570px;
        height: 35px;
    }
}

.searchconten{
    z-index: 20;
    width: 458px;
    position: absolute;
    top: 36px;
    left: 0;
    padding: 0;
    border: solid 1px #dfdfdf;
    background: #fff;
    box-shadow: 1px 1px 3px #dfdfdf;
    -webkit-box-shadow: 1px 1px 3px #dfdfdf;
    li{
        padding: 3px 8px 4px 8px;
        line-height: 26px;
        cursor: pointer;
        margin: 0;
        display: block;
        clear: both;
        overflow: hidden;
        &:hover{
            background: #F3F3F3;
        }
    }
    
    a{
       width: 80%;
       float: left;
       &:hover{
           color:#C52E15;
           font-weight:700;
           text-decoration: none;
       }
    }
    span{
        float: right;
        color: #999;
    }
}

.capyheader {
        display: none;
        position:fixed;
        top:0;
        background:url('http://i0.ulecdn.com/ule/common/css/images/zjl_icon_001.png');
        width:100%;
        height:41px;
        overflow:hidden;
        padding:5px 0;
        z-index:9999;
   .head-logo{
      background:url('http://i0.ulecdn.com/ule/common/css/images/zjl_icon_002.png');
      width:54px;
      height:40px;
      a{
          height:100%;
      }
   }
   .head-serch{
      margin-top:0;
      margin-right: 376px;
   }   
}
