@charset "utf-8";
.main_floor3{
    h1{
        text-align: center;
        font-size: 22px;
        color: #333;
        display: block;
    }
    //后面的end
    h2{
        margin-top:35px;
        text-align: center;
        font-size: 16px;
        color: #bbb;
        letter-spacing: 6px;
        height: 30px;
        line-height: 50px;
        @include bgimgurl("http://i0.ulecdn.com/ule/www/hp/2014/0710/images/end.png",no-repeat,center,center);
    }
}
.shops-main{
    padding-top: 10px;
    width: 100%;
    li{
        float: left;
        height: 280px;
        padding: 15px;
        margin:6px 6px 6px 5px;
        background: #fff;
        width: 200px;
    }
    li:nth-of-type(1){
        margin-left: 0;
    }
    li:nth-of-type(6){
       margin-left: 0;
    }
    
}



.shops-main li>a>img{
    height: 200px;
    width: 100%;
    display: block;
}


